.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.home_logo {
  margin-left: 80px;
}

.card {
  height: 60vh;
  width: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 0px;
}
